<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <div class="profile-image relative">
              <img src="/assets/images/transfert.jpg" class="img-fluid rounded w-full" alt="profile-image"
                style="height: 200px; object-fit: cover;" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-lg-12 card-profile">
        <div class="card card-stretch h-full">
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap items-center justify-between breadcrumb-content">
                      <h5>Liste des partenaires</h5>
                      <button class="btn btn-primary p-2" (click)="openPartenaireModal()">
                        Ajouter
                      </button>
                      <button class="btn btn-primary p-2" (click)="openListeModal()">
                        Liste
                      </button>
                      <div class="d-flex flex-wrap items-center justify-between">
                        <div class="pl-3 btn-new border-left">
                          <a href="#" class="btn btn-primary" data-target="#new-project-modal"
                            data-toggle="modal">Ajouter nouveau</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div *ngIf="showListeModal" class="modal fade show d-block" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Liste</h5>
                      <button type="button" class="close" (click)="closeListeModal()">
                        &times;
                      </button>
                    </div>

                    <div class="modal-body">
                      <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                          <tr>
                            <th>Date de création</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Pays</th>
                            <!-- <th>Montant prêté</th> -->
                            <th>Montant</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of allPartenaireCreancier; let i = index">
                            <td>{{ item.date_creation | date:'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ item.Partenaire?.nom }}</td>
                            <td>{{ item.Partenaire?.prenom }}</td>
                            <td>{{ item.Partenaire?.pays }}</td>
                            <!-- <td>{{ item.Partenaire?.montant_preter | currency : "" : "" : "1.0-0" }}</td> -->
                            <td>{{ item.montant | currency : "" : "" : "1.0-0" }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>



              <div *ngIf="showPartenaireModal" class="modal fade show d-block" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content" style="max-height: 80vh; overflow-y: auto;">
                    <form class="p-4 shadow rounded" [formGroup]="partenaireCreancierForm"
                      (ngSubmit)="ajouterPartenaireCreancier()">

                      <!-- Header -->
                      <div class="modal-header">
                        <h5 class="modal-title">Ajouter</h5>
                        <button type="button" class="close" (click)="closeUserModal()">&times;</button>
                      </div>

                      <!-- Body -->
                      <div class="modal-body">
                        <div class="form-row">
                          <!-- Date -->
                          <div class="form-group col-lg-6">
                            <label for="date_creation">Date</label>
                            <input type="datetime-local" class="form-control" id="date_creation"
                              formControlName="date_creation" placeholder="La date" />
                          </div>

                          <!-- Partenaire -->
                          <div class="form-group col-lg-6">
                            <label for="partenaire">Partenaire</label>
                            <select class="form-control" id="partenaire" formControlName="partenaireId" required>
                              <option value="" disabled selected>Sélectionnez un partenaire</option>
                              <option *ngFor="let partenaire of allresultat" [value]="partenaire.id">
                                {{ partenaire.prenom + " " + partenaire.nom + " " + partenaire.pays + " " +
                                (partenaire.montant_preter | currency : "" : "" : "1.0-0") }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <!-- Montant -->
                        <div class="form-group col-md-12">
                          <label for="montant">Montant</label>
                          <input type="text" class="form-control" id="montant" formControlName="montant"
                            placeholder="Montant en CFA" (input)="onInputChangeCreancier($event)" />
                        </div>

                      </div>

                      <!-- Footer -->
                      <div class="row justify-content-end">
                        <div class="col-auto">
                          <button type="button" class="btn btn-secondary" (click)="closeUserModal()">
                            Annuler
                          </button>
                        </div>
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary"
                            [disabled]="partenaireCreancierForm.invalid || isLoadingCreancier">
                            <span *ngIf="isLoadingCreancier">Création en cours...</span>
                            <span *ngIf="!isLoadingCreancier">Ajouter</span>
                          </button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>


              <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                class="table data-table table-striped table-flush" style="width: 100%">
                <thead>
                  <tr class="text-muted">
                    <th class="border px-4 py-2">Nom</th>
                    <th class="border px-4 py-2">Prenom</th>
                    <th class="border px-4 py-2">Pays</th>
                    <th class="border px-4 py-2">Solde</th>
                    <!-- <th class="border px-4 py-2">Solde avec echange</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of allresultat" class="hover:bg-gray-100 even:bg-gray-50">
                    <td class="border px-4 py-2">{{ result.nom }}</td>
                    <td class="border px-4 py-2">{{ result.prenom }}</td>
                    <td class="border px-4 py-2">{{ result.pays }}</td>
                    <td class="border px-4 py-2">
                      {{ (result.montant_preter) | currency : "" : "" : "1.0-0" }}
                      <span style="font-weight: bold;"> ({{ result.montant_credit_Xof | currency:'':'':'1.0-0'
                        }})</span>
                      {{
                      result.pays === "Sénégal" ||
                      result.pays === "Guinée-Bissau"
                      ? "XOF"
                      : result.pays === "France"
                      ? "EURO"
                      : "USD"
                      }}
                    </td>
                    <td>
                      <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-project-modal"
                        (click)="onEdit(result)">
                        Modifier
                      </button>
                    </td>
                    <!-- <td class="border px-4 py-2">
                      <p>
                        {{
                          result.montant_credit | currency : "" : "" : "1.0-0"
                        }}
                        {{ userInfo.sign }}
                      </p>
                      <p>
                        {{
                          result.montant_credit_dollar
                            | currency : "" : "" : "1.0-0"
                        }}
                        {{ userInfo.sign_dollar }}
                      </p>
                      <p>
                        {{
                          result.montant_credit_euro
                            | currency : "" : "" : "1.0-0"
                        }}
                        {{ userInfo.sign_euro }}
                      </p>
                    </td> -->
                    <!-- <td>
                      <button
                        class="btn btn-warning btn-sm"
                        data-toggle="modal"
                        data-target="#edit-rembourser-modal"
                        (click)="onPartenaireEdit(result)"
                      >
                        rembourser
                      </button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Modifier un Partenaire</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modifierPartenaireForm" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input id="nom" formControlName="nom" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="prenom">Prenom</label>
            <input id="prenom" formControlName="prenom" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="pays">Pays</label>
            <input id="pays" formControlName="pays" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="montant_preter">Montant avec code</label>
            <input id="montant_preter" formControlName="montant_preter" class="form-control" type="number" />
          </div>
          <div class="form-group">
            <label for="montant_credit_Xof">Montant sans code</label>
            <input id="montant_credit_Xof" formControlName="montant_credit_Xof" class="form-control" type="number" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Annuler
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="modifierPartenaireForm.invalid || isLoadingModif">
              <span *ngIf="isLoadingModif">Modification en cours...</span>
              <span *ngIf="!isLoadingModif">Modifier</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-rembourser-modal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Rembourser un partenaire</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editPartenaireForm" (ngSubmit)="onPartenaireUpdate()">
          <div class="form-group col-lg-12">
            <label for="deviseId">Devise</label>
            <select class="form-control" id="deviseId" formControlName="deviseId">
              <option value="" disabled selected>
                Sélectionnez une devise
              </option>
              <option *ngFor="let devise of uniqueDevise" [value]="devise.id">
                <span>{{ devise.signe_2 }}</span>
              </option>
            </select>
          </div>
          <!-- <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!editPartenaireForm.valid">Valider</button>
          </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Annuler
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="!editPartenaireForm.valid || loadingRembourser">
              <span *ngIf="loadingRembourser">Validation en cours...</span>
              <span *ngIf="!loadingRembourser">Valider</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="container">
        <h2>Ajouter un Partenaire</h2>
        <form [formGroup]="partenaireForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input id="nom" formControlName="nom" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input id="prenom" formControlName="prenom" class="form-control" />
          </div>
          <div class="form-group">
            <label for="pays">Selectioner un pays</label>
            <select id="pays" class="form-control" formControlName="pays">
              <option value="Sénégal">Sénégal</option>
              <option value="Guinée-Bissau">Guinée-Bissau</option>
            </select>
          </div>
          <div class="form-group">
            <label for="montant_preter">Montant Prêté</label>
            <input id="montant_preter" formControlName="montant_preter" class="form-control" type="text"
              [(ngModel)]="montant_preter" [ngModel]="montant_preter | currencyFormat" (input)="onInputChange($event)"
              [disabled]="isDisabled" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Annuler
            </button>
            <button type="submit" class="btn btn-primary">
              <span *ngIf="isLoading">Création en cours...</span>
              <span *ngIf="!isLoading">Ajouter</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>